_deps/
bin/
CMakeFiles/
lib/

cmake_install.cmake
CMakeCache.txt
Makefile
litehtmlpy/litehtmlpy.*.so
src/litehtmlpy/litehtmlpy.*.so
.ninja_deps
.ninja_log
build.ninja
litehtmlpy.egg-info/

litehtml/
pybind11/

build/
dist/
wheelhouse/
__pycache__/
demo.png

litehtmlpy.cpp
