_deps/
bin/
CMakeFiles/
lib/

cmake_install.cmake
CMakeCache.txt
Makefile
src/litehtmlpy/litehtmlpy.*.so
.ninja_deps
.ninja_log
build.ninja
litehtmlpy.egg-info/

build/
dist/
wheelhouse/
__pycache__/
demo.png
